# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*.pyd

# =========================
# MLflow
# =========================
mlruns/
mlartifacts/

# =========================
# Model Files
# =========================
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.onnx

# =========================
# Databases
# =========================
*.db
*.sqlite3

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/
NetworkSecurity.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# Testing
# =========================
.pytest_cache/
coverage/

# =========================
# IDE Files
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node (if frontend exists)
# =========================
node_modules/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

# =========================
# Flask
# =========================
instance/

# =========================
# Custom Files
# =========================
test_mongodb.py